Wolfgang
Petersen
's
latest
,
The
Perfect
Storm
,
is
like
a
pineappl
.

It
onli
tast
good
after
arduou
peel
and
digging-if
you
try
to
eat
the
fruit
,
spike
and
all
,
it
's
go
to
hurtquit
a
bit
.

OK
,
mayb
that
wa
a
confus
analog
,
so
here
's
my
main
complaint
about
the
latest
man
battl
natur
flick
:
there
is
n't
realli
much
of
a
stori
to
tell
.

Basic
,
a
Massachusett
fish
crew
goe
out
to
sea
on
a
small
boat
,
call
the
Andrea
Gail
,
and
get
stuck
in
the
middl
of
``
the
storm
of
the
centuri
.
''

How
much
time
doe
it
take
for
Petersen
to
tell
thi
stori
?

Not
nearli
enough
.

So
he
spend
the
major
of
the
film
develop
pointless
side
stori
which
all
eventu
becom
superflu
.

Audienc
want
to
see
the
storm
,
thei
want
to
see
a
fight
for
surviv
but
what
thei
get
is
a
lot
of
clich
,
maudlin
drivel
.

The
last
quarter
of
The
Perfect
Storm
is
utterli
perfect
in
everi
aspect
,
but
just
try
last
the
first
three-quart
.

I
have
yet
to
read
Sebastian
Junger
's
The
Perfect
Storm
,
but
from
what
I
have
heard
it
is
an
unforgett
tale
.

Base
on
a
true
stori
,
the
book
must
have
found
some
other
wai
to
introduc
the
charact
becaus
in
the
movi
version
,
the
approach
is
weak
.

Using
a
wonderfulli
patriot
score
by
Jame
Horner
,
Petersen
almost
hide
the
in-your-fac
banal
.

Right
awai
the
central
charact
ar
introduc
:
the
gritti
,
determin
captain
-LRB-
Georg
Cloonei
-RRB-
,
the
ingenu
-LRB-
Mark
Wahlberg
-RRB-
torn
between
hi
job
and
hi
girlfriend
-LRB-
Dian
Lane
-RRB-
,
the
love
father
-LRB-
John
C.
Reilli
-RRB-
,
the
comic
relief
who
's
alwai
try
to
get
laid
-LRB-
John
Hawk
-RRB-
,
the
new
gui
-LRB-
William
Fichtner
-RRB-
who
immedi
antagon
a
crewmat
and
the
quiet
,
French
gui
-LRB-
Allen
Payn
-RRB-
.

So
mani
problem
strike
the
open
segment
of
the
film
that
the
remain
portion
directli
suffer
.

It
is
not
the
all-star
cast
's
fault
,
just
the
charact
design
for
their
portray
.

Allen
Payn
's
charact
never
speak
in
the
entir
movi
,
not
becaus
he
is
mute
,
but
becaus
he
's
never
given
ani
line
!

Are
we
suppos
to
root
for
a
gui
whose
face
and
voic
we
ar
never
given
a
chanc
to
interact
with
?

Fichtner
's
charact
is
terribl
underdeveloped-w
do
n't
know
what
he
's
do
there
,
where
he
's
from
,
or
who
he
's
suppos
to
be
.

The
remain
four
fishermen
ar
all
cardboard
stereotyp
-LRB-
Hawk
sai
to
a
femal
stranger
in
on
scene
``
You
know
what
would
look
good
on
you
?
''

Me
!
''
''

Ooooh
real
creativ
-RRB-
.

As
the
script
advanc
and
the
Andrea
Gail
float
farther
out
into
the
water
,
the
crew
continu
to
not
feel
human
.

Only
when
the
storm
take
center
stage
doe
the
movi
jump
out
of
it
sleepwalk
.

The
computer-gener
imag
of
gigant
wave
crash
against
a
helpless
boat
ar
thunder
real
.

I
can
onli
imagin
if
thi
wa
an
IMAX
film
,
thi
citi
kid
would
sure
never
go
in
the
water
again
.

Thi
is
loud
,
jolt
entertainment-adject
that
complet
negat
the
rest
of
the
film
.

The
Perfect
Storm
wa
unfortun
a
disappoint
.

The
maelstrom
live
up
to
it
potenti
but
everyth
els
fail
to
do
so
.

I
guess
I
'll
stick
to
that
other
Surviv
spectacl
you
know
the
on
on
CBS
?

